<!-- templates/help.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
    TIDE Help
</h1>
<h2 class="subtitle">
    <p style="color: black;">TEMPOR - это контролируемый естественный язык, созданный на основе семантики LTL и EDTL.</p>
    <p style="color: black;">TEMPOR IDE - это инструмент для написания событийно-темпоральных требований к системам управления. </p>
    <p style="color: black;">Задавайте свои правила, редактируйте и управляйте системами с помощью TEMPOR IDE</p>
</h2>
{% endblock %}
